version: "3.8"
services:
  nginx:
    image: nginx:alpine
    container_name: moviepedia_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - moviepedia-network
      - gateway_net
    restart: always
    depends_on:
      - movieapiapp
      - frontend
      - recommender

  movieapiapp:
    image: viraj231/movieapiapp:latest
    container_name: movieapiapp
    environment:
      - ConnectionStrings__DefaultConnection=${LINUX_DB_CONN_STRING}
      - Jwt__Key=${JWT_SECRET_KEY}
      - Jwt__Issuer=https://moviepedia.virajdeveloper.online
      - Jwt__Audience=https://moviepedia.virajdeveloper.online
      - ApiKeyOmDb=${OMDB_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - Google__Client_Id=${GOOGLE_CLIENT_ID}
      - Google__Client_Secret=${GOOGLE_CLIENT_SECRET}
      - YouTube__ApiKey=${YOUTUBE_API_KEY}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - ASPNETCORE_URLS=http://+:80
    networks:
      - moviepedia-network
    restart: always

  recommender:
    image: viraj231/python_recommender:latest
    container_name: recommender
    environment:
      - API_URL=http://movieapiapp:80
      - API_KEY=${OMDB_API_KEY}
    networks:
      - moviepedia-network
    depends_on:
      - movieapiapp
    restart: always

  frontend:
    image: viraj231/frontend:latest
    container_name: frontend
    networks:
      - moviepedia-network
    restart: always

networks:
  moviepedia-network:
    driver: bridge
  gateway_net:
    external: true
