version: "3.8"
services:
  movieapiapp:
    image: viraj231/movieapiapp:latest
    container_name: movieapiapp_container
    ports:
      - "6000:80"
    environment:
      - ConnectionStrings__DefaultConnection=${LINUX_DB_CONN_STRING}
      - Jwt__Key=${JWT_SECRET_KEY}
      - Jwt__Issuer=https://moviepedia.virajdeveloper.online
      - Jwt__Audience=https://moviepedia.virajdeveloper.online
      - ApiKeyOmDb=${OMDB_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - Google__Client_Id=${GOOGLE_CLIENT_ID}
      - Google__Client_Secret=${GOOGLE_CLIENT_SECRET}
      - YouTube__ApiKey=${YOUTUBE_API_KEY}
      - ASPNETCORE_URLS=http://+:80
    networks:
      - moviepedia-network
    restart: always

  recommender:
    image: viraj231/python_recommender:latest
    container_name: recommender_container
    ports:
      - "5002:80"
    environment:
      - API_URL=http://movieapiapp:80
      - API_KEY=${OMDB_API_KEY}
    networks:
      - moviepedia-network
    depends_on:
      - movieapiapp
    restart: always

  frontend:
    image: viraj231/frontend:latest
    container_name: frontend_container
    ports:
      - "90:80"
    networks:
      - moviepedia-network
    restart: always

networks:
  moviepedia-network:
    driver: bridge
